body,
html {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
   font-family: "Plus Jakarta Sans";
   overflow-y: hidden;
}



/* cluster */
.bufferColor {
  /* background-color: #0876ff69; */
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-weight: bold;
  color: white;
  /* border: 4px solid #0876ff; */
  /* box-shadow: #0876ff; */
  transform: translate();
  transition: 6ms ease-in;
   background: radial-gradient(65.32% 65.32% at 50% 50%, rgba(0, 108, 198, 0.10) 0%, #006CC6  100% );
   /* linear-gradient(133deg, rgba(0, 108, 198, 0.10) 2.35%, #006CC6 89.11%); */
/* radial-gradient(#0876ff 5%,  #0876ff69) 
  50% calc(50% + 2em); 

&:nth-child(2) {
background-size: 175% 175%;
}  */
  /* box-shadow: rgba(8, 118, 255, 0.412) 0px 30px 60px -12px inset,
    rgb(8, 118, 255) 0px 18px 36px -18px inset; */
}


.cluster-text {
  /* Styles for the text inside the cluster */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
color: #fff;
text-shadow: 2px 2px 4px darkblue; /* Adjust the values to control the shadow */
  font-size: 14px; /* Default font size */
  /* border-radius: 4px; */
/* background: rgba(255, 255, 255, 0.20);
box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px); */
}
/* summery section */

/* .summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.summary-header h2 {
  margin: 0;
  color: var(--Grey-800, #262626);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;

  line-height: normal;
} */

.cluster_legend {
  background-color:white;
  padding: 10px;
  border: none !important;
  border-radius: 8px;
  position: absolute;
  bottom: 26px;
  /* background: green; */
  /* left: 20px; */
  right: 50px;
  width: 146px;
  z-index: 1000;
}


      .cluster_legend-title {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
      }
      .cluster_legend-item {
          display: flex;
          align-items: center;
          padding: 2px;
          /* margin-bottom: 5px; */
          background: #e6f1fb;
      }
      .cluster_legend-color {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          border-radius: 3px;
      }

.proposal-info {
  display: flex;
  align-items: center;
}

.proposal-info span {
  margin-right: 20px;
  color: var(--Grey-800, #262626);
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.proposal-icons,
.navigation-icons {
  display: flex;
  align-items: center;
}

.proposal-icons button,
.navigation-icons button {
  background: none;
  border: none;
  cursor: pointer;
}

.proposal-icons img,
.navigation-icons img {
  width: 24px;
  height: 24px;
}

.vertical {
  width: 168px;
  height: 0px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.horizontal {
  width: 289px;
  height: 0px;
  border: 1px #a8a8a8 dotted;
}


.dotted {
  border-style: dotted;
}

/* Container for scrolling horizontally */
.cards {
  display: flex;
  gap: 20px; /* Space between each card */
  padding: px; /* Padding inside the scrollable area */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
}

.card {
  flex: 0 0 auto; /* Prevent the cards from shrinking */
  width: 300px; /* Fixed width for each card */
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 15px; /* Add padding inside the card */
}

/* Custom scrollbar styling (WebKit browsers only) */
.cards::-webkit-scrollbar {
  height: 4px;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.cards::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.navigation-icons button {
  font-size: 20px;
  font-weight: bold;

  color: #000;
}

.navigation-icons button:hover {
  color: #555;
}

.chart-bar {
  height: 20px;
  margin: 10px 0;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.chart-bar-segment {
  height: 100%;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-success {
  background-color: #28a745;
}

.bg-primary {
  background-color: #007bff;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.summary-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.summary-footer button {
  background-color: #f8f9fa;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.summary-footer button img {
  width: 16px;
  height: 16px;
}

.total-proposals {
  display: flex;
  align-items: center;
}

.total-proposals .icon {
  margin-left: 10px;
}
.card {
  /* margin-bottom: 10px; */
  background-color: rgba(255, 255, 255, 0.8);

  margin-bottom: 10px;
}

.chart-bar {
  height: 20px;
  display: flex;
  margin-bottom: 10px;
}

.chart-bar-segment {
  height: 100%;
}

.map-control-btn {
  background: var(--Grey-500, #6f6f6f);
  border-radius: 50%;
  padding: 4px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-control-btn .icon {
  width: 24px;
  height: 24px;
}

.map-controls {
  position: absolute;
  top: 40vh;
  right: 11px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.map-control-btn {
  margin: 5px 0;
}

.icon {
  width: 24px;
  height: 24px;
}

.top-section {
  padding: 10px;
  /* background-color: #f8f9fa;
  z-index: 1000;
  position: relative; */
}

.control-panel {
  position: absolute;
  top: 1px;
  left: 10px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.control-panel .btn-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.btn-group {
  display: flex;
  gap: 10px;
}

.btn-blue,
.btn-area {
  flex: 1;
  border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: black;
  border: none;
  display: flex;
  padding: 8px;
  justify-content: center;
  width: 20vh;
  align-self: stretch;
  margin-top: 13px;
  margin-left: 5vw;
  text-align: center;
  white-space: nowrap;
}


/* summery section */


.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.summary-header h2 {
  margin: 0;
  color: var(--Grey-800, #262626);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  /* margin-top: -35px; */
  line-height: normal;
}

.proposal-info {
  display: flex;
  align-items: center;
}

.proposal-info span {
  margin-right: 20px;
  color: var(--Grey-800, #262626);
  leading-trim: both;
  text-edge: cap;
   /* font-family: "Plus Jakarta Sans"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.proposal-icons,
.navigation-icons {
  display: flex;
  align-items: center;
}

.proposal-icons button,
.navigation-icons button {
  background: none;
  border: none;
  cursor: pointer;
}

.proposal-icons img,
.navigation-icons img {
  width: 24px;
  height: 24px;
}


.btn-active {
  background: #0077da70 !important;
  color: white; /* Active text color */
  border: #0077da70 !important;
}
/* CSS for moving elements */
.move-up {
  transform: translateY(-312px);
  transition: transform 0.3s ease-in-out;
}

.summary-section {
  display: none;
  position: absolute;
  bottom: -15px;
  overflow-x: hidden;
  width: 100%;
  background: rgba(246, 246, 242, 0.47); /* Converted RGB to RGBA */
  backdrop-filter: blur(2px);
  transition: display 0.3s ease-in-out;
  
  padding: 20px;

  z-index: 1000; /* Ensures it stays above the map */
}
/* Define how the .move-up class affects the elements */
.move-up {
  transform: translateY(-315px); /* Adjust value based on how much you want to move up */
  transition: transform 0.3s ease; /* Smooth transition */
}


/* Your existing CSS styles */

.date-picker {
  position: absolute;
  top: 11px;
  right: 20px;
  z-index: 999;
  color: var(--Grey-700, #393939);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;

  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 9px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 9px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.date-picker button {
  background: none;
  border: none;

  display: flex;

  align-items: center;
}
.date-range {
  display: flex;
  align-items: center; /* Align items vertically centered */
}



.calendar-icon {
  margin-left: 10px; /* Space between date range and icon */

}

.calendar-icon img {
  width: 24px; /* Adjust width as needed */
  height: 24px; /* Adjust height as needed */
  margin-top: 3px;
  position: fixed;
}

.date-picker .date-range {
  color: #333;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  border-radius: 8px;
  background: var(--Basic-Colors-White, #fff);
}

.date-picker .calendar-icon {
  width: 32px;
  height: 32px;

  color: white;
  cursor: pointer;
}


.btn-active {
  background: #0077da70 !important;
  color: white; /* Active text color */
  border: #0077da70 !important;
}
/* CSS for moving elements */
.move-up {
  transform: translateY(-312px);
  transition: transform 0.3s ease-in-out;
}

/* Only apply move-up to the north-arrow-container */
.north-arrow-container.move-up {
  transform: translateY(-315px); /* Adjust the value as needed */
  transition: transform 0.3s ease-in-out;
}

.summary-section {
  display: none;
  position: absolute;
  bottom: -15px;
  overflow-x: hidden;
  width: 100%;
  background: rgba(246, 246, 242, 0.47); /* Converted RGB to RGBA */
  backdrop-filter: blur(2px);
  transition: display 0.3s ease-in-out;
  
  padding: 20px;

  z-index: 1000; /* Ensures it stays above the map */
}



/* Define how the .move-up class affects the elements */
.move-up {
  transform: translateY(-315px); /* Adjust value based on how much you want to move up */
  transition: transform 0.3s ease; /* Smooth transition */
}


/* Style for the calendar popup */
/* Style for the selected date range boxes */
day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
  border-radius:8px !important;
}
.flatpickr-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 17px 0px 0.5ch;
  margin: 0;
  line-height: inherit;
  height: auto;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  font-size: 15px;
  text-align: right;
}

.flatpickr-monthDropdown-month{

  font-size: 10px;
  overflow: scroll;
  scrollbar-width: thin;
  height: 100px;

}

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange {
  border-radius: 8px !important;
}
.flatpickr-day.selected.startRange {
  border-radius: 5px 0 0 5px; /* Rounded corners only on the start side */
  background-color: #4a90e2; /* Background color for the selected start date */
  color: #ffffff; /* Text color for better readability */
}

.flatpickr-day.startRange.endRange {
  border-radius: 0 0 0 0; /* No rounded corners in the middle */
  background-color: #4a90e2; /* Background color for the selected range */
  color: #ffffff; /* Text color for better readability */
}

.flatpickr-day.endRange {
  border-radius: 0 5px 5px 0; /* Rounded corners only on the end side */
  background-color: #4a90e2; /* Background color for the selected end date */
  color: #ffffff; /* Text color for better readability */
}

/* Optional: Ensure that the background color of the selected dates is uniform */
.flatpickr-day.selected {
  background-color: #4a90e2; /* Background color for any selected date */
  color: #ffffff; /* Text color for better readability */
}

.rangeMode .flatpickr-day {
  margin-top: 0px !important;
}
.flatpickr-day.inRange {
  border-radius: 0;
  /* -webkit-box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6; */
  /* box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6; */
}
.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6 !important;

}

.flatpickr-day.inRange {
  border-radius: 0;
  background: white;
  /* -webkit-box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6; */
  /* box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6; */
}

.flatpickr-calendar.inline {
  display: inline !important;
  top: 40px !important;
  width: 280px;
 right: 38px !important;
  position: absolute !important;
}

.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 89% !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px !important;
}
.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 275.875px !important;
  max-width: 247.875px !important;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  /* -webkit-justify-content: space-around; */
  justify-content: space-around;
  /* -webkit-transform: translate3d(0, 0, 0); */
  /* transform: translate3d(0, 0, 0); */
  /* opacity: 1; */
}
.flatpickr-custom-buttons {
  display: flex;
  margin-top: -3px;
  justify-content: space-between;
  padding: 7px;
  background-color: white; /* Blue background for the button container */
  border-top: 1px solid #ddd;
}

.date-picker .date-range {
  color: #333;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  border-radius: 8px;
  background: var(--Basic-Colors-White, #fff);
  /* Adjust the width and height as needed */
  min-width: 200px; /* Minimum width for better appearance */
  min-height: 30px; /* Minimum height for better appearance */
  display: flex; /* Use flexbox to align content */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.flatpickr-button {
  padding: 5px 10px;
  border: none;
  color: #fff; /* White text for all buttons */
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px; /* Add space between buttons */
}

#apply-button {
  background-color: #888; /* Blue background for apply button */;
}

#cancel-button {
  background-color: #007bff /* Gray background for cancel button */
}

.flatpickr-calendar {
  width: 250px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: menulist;
  background: transparent;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  /* font-family: inherit; */
  font-weight: 300;
  height: auto;
  font-size: 17.5px !important;
  line-height: inherit;
  margin: -1px 0 0 0;
  outline: none;
  padding: 0 0 0 0.5ch;
  position: relative;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  width: auto;
  text-align:left;
}
.flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  /* line-height: 24px; */
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
}

/* Search icon inside the button */
#search-button img {
  width: 19px;
  height: auto;
  margin-top: -1px;
  margin-left: 0px;
}
/* Container to hold the button and search input */
.button-container {
  width: 100%; /* Full width container */
  display: flex; /* Center the content horizontally */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 50px; /* Added margin for better visual placement */
  position: relative; /* Position relative for the button and search input */
}

/* Initial button styling */
#search-button {
  right: 2px;
  width: 35px; /* Initial width */
  height: 35px; /* Initial height */
  /* transition: width 0.3s, height 0.3s, background-color 0.3s, opacity 0.3s; /* Smooth transition */
  background: linear-gradient(180deg, #6f6f6f 0%, #262626 100%);
  box-shadow: 0px 0px 14.035px 0px rgba(0, 0, 0, 0.15); 
 border: none;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: radial-gradient(400.2% 139.23% at 0% 3.13%, rgba(0, 119, 218, 0.80) 0%, rgba(0, 84, 155, 0.80) 100%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
  border-radius: 8px; /* Top corners square, bottom corners rounded */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex; /* Center the icon */
  align-items: center;

  justify-content: center;
  overflow: hidden; /* Ensure smooth resizing */
  position: absolute; /* Position absolute within the container */
   bottom: 222px;/* Align with container top */
}

/* Full width when expanded */
#search-button.full-width {
  width: 100%; /* Full width of the container */
  height: 50px; /* Adjust height if needed */
  border-radius: 30px; /* Change border radius for a different look */
  background-color: #ff5733; /* New background color when expanded */
  position: absolute; /* Maintain position */
  top: 0; /* Align with container top */
  left: 0; /* Align with container left */
  display: none;
}

/* Search icon inside the button */
#search-button img {
  width: 19px; /* Icon size */
  height: auto; /* Maintain aspect ratio */
  transition: opacity 0.3s; /* Smooth transition for opacity */
  position: absolute; /* Fix the icon in place */
  top: 55%;
  left: 52%;
  transform: translate(-50%, -50%); /* Center the icon */
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

#searchInputDashboard {
  padding-right: 40px; /* Add padding to make room for the close icon */
}
.close-icon {
  position: absolute;
  right: -3px; /* Positioning the ico3n */
  transform: translateY(-77%); /* Center the icon vertically */
  cursor: pointer;
  width: 50px; /* Increase width */
  height: 70px; /* Increase height */
  font-size: 26px; /* Adjust font size if necessary */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* When search input is shown */
.full-width #searchInputDashboard {
  display: block;
}

.full-width #search-icon {
  display: none;
}



/* Hide the icon when button is expanded */
#search-button.full-width img {
  opacity: 0; /* Hide the icon */
}

/* Search input styling */
#searchInputDashboard {
  display: none; /* Hide initially */
  height: 40px; /* Height */
  padding: 0 20px; /* Padding */
  border-radius: 25px; /* Rounded corners */
  border: 1px solid #ccc; /* Border color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
  position: absolute; /* Position absolute within the container */
  top: -88px; /* Align with container top */
  right: 0;
  transition: opacity 0.3s, width 0.3s; /* Smooth transition */
}

/* Show input field when button is expanded */
#search-button.full-width ~ #searchInputDashboard {
  display: block; /* Show the input field */
}

/* filter */

/* Container to hold the button and search input */
.button-container {
  width: 100%; /* Full width container */
  display: flex; /* Center the content horizontally */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  margin-top: 50px; /* Added margin for better visual placement */
  position: relative; /* Position relative for the button and search input */
}
/* #toggleFilters {
  right: -7px;
  width: 30px;
  height: 30px;
  left: 49px;
  border: none ;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: -1px;
} */






/* cards */
/* Container for slider items */
.slider-item {
  width: 31%;
  height: 107%;
  padding: 12px;
  margin-top: -15px;
  background: white;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Building Permissions text styling */
.building-permissions {
  /* text-align: right; */
  color: #262626;
  font-size: 14px;
   /* font-family: "Plus Jakarta Sans"; */
  font-weight: 600;
  word-wrap: break-word;
}

/* Main container inside the card */
.main-container {
  width: 311px;
  height: 202px;
  position: relative;
  background: white;
  border-radius: 8px;
}

/* Text styles for different positions */
.text-small {
  color: #262626;
  font-size: 12px;
   /* font-family: "Plus Jakarta Sans"; */
  word-wrap: break-word;
}

.text-600 {
  font-weight: 600;
}

.text-400 {
  font-weight: 400;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Positioning for each text item */
.position-total {
  left: 41px;
  top: 153px;
  position: absolute;
}

.position-submitted {
  left: 8px;
  top: 121px;
  position: absolute;
}

.position-approved {
  left: 11px;
  top: 90px;
  position: absolute;
}

.position-process {
  left: 10px;
  top: 58px;
  position: absolute;
}

.position-rejected {
  left: 17px;
  top: 26px;
  position: absolute;
}

/* Text position at the bottom */
.position-bottom-1 {
  left: 250px;
  top: 184px;
  position: absolute;
}

.position-bottom-2 {
  left: 189px;
  top: 184px;
  position: absolute;
}

.position-bottom-3 {
  left: 132px;
  top: 184px;
  position: absolute;
}

.position-bottom-4 {
  left: 88px;
  top: 184px;
  position: absolute;
}

/* Dotted and solid borders */
.border-solid {
  width: 168px;
  height: 0px;
  position: absolute;
  border: 1px #e0e0e0 solid;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

.border-dotted-horizontal {
  width: 289px;
  height: 0px;
  left: 9px;
  top: 176px;
  position: absolute;
  border: 1px #a8a8a8 dotted;
}

.border-dotted-vertical {
  width: 186px;
  height: 0px;
  left: 81px;
  top: 8px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 1px #a8a8a8 dotted;
}

/* Flexbox container for colored bars and numbers */
.bars-container {
  height: 148px;
  left: 93px;
  top: 20px;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.bar-item {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

/* Individual bar colors */
.bar-red {
  width: 78px;
  height: 20px;
  background: #da1e28;
}

.bar-yellow {
  width: 16px;
  height: 20px;
  background: #f1c21b;
}

.bar-cyan {
  width: 36px;
  height: 20px;
  background: #08bdba;
}

.bar-green {
  width: 29px;
  height: 20px;
  background: #42be65;
}

.bar-blue {
  width: 132px;
  height: 20px;
  background: #0077da;
}

/* cards */
/*2*/
.slider.slider-item {
  width: 31%;
  height: 107%;
  padding: 12px;
  margin-top: -15px;
  background: white;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.slider-item > div:first-child {
  text-align: right;
  color: #262626;
  font-size: 14px;
   /* font-family: "Plus Jakarta Sans"; */
  font-weight: 600;
  word-wrap: break-word;
}

.slider-item .content-box {
  width: 311px;
  height: 202px;
  position: relative;
  background: white;
  border-radius: 8px;
}

.slider-item .content-box .label {
  position: absolute;
  text-align: right;
  color: #262626;
  left: 6px;

  font-size: 12px;
   /* font-family: "Plus Jakarta Sans"; */
  font-weight: 400;
  word-wrap: break-word;
}

.slider-item .content-box .label.total {
  left: 41px;
  top: 145px;
  font-weight: 600;
}

.slider-item .content-box .label.submitted {
  left: 8px;
  top: 121px;
}

.slider-item .content-box .label.approved {
  left: 11px;
  top: 90px;
}

.slider-item .content-box .label.in-process {
  left: 10px;
  top: 58px;
}

.slider-item .content-box .label.rejected {
  left: 17px;
  top: 26px;
}

.slider-item .content-box .number {
  position: absolute;
  text-align: center;
  color: #262626;
  font-size: 12px;
  font-weight: 400;
  word-wrap: break-word;
}

.slider-item .content-box .number.total {
  left: 254px;
  top: 184px;
}

.slider-item .content-box .number.submitted {
  left: 192px;
  top: 184px;
}

.slider-item .content-box .number.approved {
  left: 132px;
  top: 184px;
}

.slider-item .content-box .number.in-process {
  left: 88px;
  top: 184px;
}

.slider-item .content-box .vertical-line {
  width: 168px;
  height: 0;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  border: 1px #e0e0e0 solid;
}

.slider-item .content-box .vertical-line-1 {
  left: 265px;
  top: 176px;
}

.slider-item .content-box .vertical-line-2 {
  left: 205px;
  top: 176px;
}

.slider-item .content-box .vertical-line-3 {
  left: 145px;
  top: 176px;
}

.slider-item .content-box .vertical-line-4 {
  left: 93px;
  top: 176px;
}

.slider-item .content-box .horizontal-dotted-line {
  width: 186px;
  height: 0;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 1px #a8a8a8 dotted;
  left: 81px;
  top: 8px;
}

.slider-item .content-box .bottom-dotted-line {
  width: 289px;
  height: 0;
  position: absolute;
  border: 1px #a8a8a8 dotted;
  left: 9px;
  top: 176px;
}

.slider-item .content-box .status-bars {
  height: 148px;
  left: 93px;
  top: 20px;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.slider-item .status-bar {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.slider-item .status-bar .bar {
  height: 20px;
}

.slider-item .status-bar .bar-0 {
  width: 1px;
  background: #da1e28;
  opacity: 0;
}

.slider-item .status-bar .bar-6-yellow {
  width: 2px;
  background: #f1c21b;
}

.slider-item .status-bar .bar-6-blue {
  width: 2px;
  background: #08bdba;
}

.slider-item .status-bar .bar-593 {
  width: 125px;
  background: #42be65;
}

.slider-item .status-bar .bar-12 {
  width: 4px;
  background: #0077da;
}

.filter_div{
  height: auto; 
  max-height: 63vh;
  overflow: hidden;
  transition: overflow 0.3s ease;

}
.filter_div:hover {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

}
.toggle-button {
  position: relative;
  top: 20vh;
  right: 49px;
  z-index: 1000;
  border: none;
  background: none;
  color:#8AC0EE;
  font-size: 21px;
  border-radius: 5px;
}

.toggle-button1 {
  background: none; /* Remove background color */
  border: none; /* Remove button border */
  padding: 0; /* Remove padding */
  cursor: pointer; /* Change cursor to pointer */
  display: flex; /* Center the image */
  align-items: center;
  justify-content: center;
}

.toggle-button1 img {
  width: 46.164px; /* Set image width */
  height: 44px; /* Set image height */
  margin-bottom: 13px;
  object-fit: contain; /* Ensure image scales properly */
}

.filters {
  display: none;                    /* Hide the filter panel by default */
  position: absolute;
  top: 19%;
  left: 18px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 79vh;
  border-radius: 12px;
  width: 290px;
  background-color: white;
  border: 1px solid #ddd;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;                      /* Initially hidden */
  transition: opacity 0.3s ease;   /* Smooth transition for opacity */
}

.filter-group {
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px;
background: var(--Blue-50, #E6F1FB);
  font-size: 10px;
}
.filter-group label {
  display: block; 
  margin-bottom: 5px;
  color: var(--Basic-Colors-Black, #000);

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  cursor: pointer;
  position: relative;
  /* background: aliceblue; */
}

  .filter-group input[type="text"] {
    width: 97%;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    display: none;
    border-radius: 8px;
    border: 2px solid #bbb;
}
.filter-group ul {
list-style-type: none;
padding: 0;
display: none;
}
.filter-group ul.active,
.filter-group input[type="text"].active {
display: block;
forced-color-adjust: blue;
}
.filter-group li {
  margin-bottom: 5px;
}

.icon-container {
position:absolute;
right:1%; 
top:0%;
font-size: 15px;
} */

/* Style the icon */
 .icon-container i {
color: black; 
}

.abcscroll {
  height: auto;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

/* WebKit (Safari, older Chrome) */
.abcscroll::-webkit-scrollbar {
  width: 10px; /* Makes scrollbars thinner */
}

.abcscroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of scrollbar track */
  border-radius: 10px; /* Rounded corners for scrollbar track */
}

.abcscroll::-webkit-scrollbar-thumb {
  background: #888; /* Color of scrollbar handle */
  border-radius: 10px; /* Rounded corners for scrollbar handle */
}

.abcscroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover state for visibility */
}






#tablecontainer {
  z-index: 9999;
  position: absolute;
  width: 30%;
  bottom: 24%;
  right: 4%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  font-size: 12px;
  transition: all 0.3s ease;
}


.tableDetail {
max-height: 550px; 
overflow-y: auto; 
/* margin-top: 10px;  */
border: 1px solid #ccc; 
background-color: #f9f9f9; 

}

.minimize-button {
background-color:#8AC0EE;
color: red;
border: none;
padding: 5px;
cursor: pointer;
font-size: 15px;
/* border-radius: 50%; */
position: absolute;
right: 0%;
top:0%;
z-index: 1000;
width: 27px;
height:28px;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

} 
/* 

.download-button
 {
  
  background-color: darkblue;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  
  position: absolute;
  right: 5%;
  top:0%;
  z-index: 1000;
  width: 27px;
  height:28px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  } 

.data-table {
width: 100%;
border-collapse: collapse;
}


.data-table th {

background-color:#E6F1FB;
color: var(--Blue-500, #0077DA);

font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;

text-transform: uppercase;
font-weight: bold;



}



.dataTables_wrapper .dataTables_scrollHead {
overflow: visible;
}

.dataTables_wrapper .dataTables_scrollBody {
overflow: auto;
scrollbar-width: thin;
text-align: center;
height: 248px;
max-height: 248px; }

.dataTables_wrapper .dataTables_scrollFoot {
overflow: visible;
}
 

 */
/* .filters{
  display: none;
} */

/*layer 
/* Styling for the labels */
.leaflet-control-layers label {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 4px 0;
  border-radius: 6px;
  transition: background 0.3s;
}

.leaflet-control-layers label:hover {
  background: #f0f0f0;
}

/* Styling for checkboxes and radio buttons */
.leaflet-control-layers-selector {
  margin-right: 10px;
  accent-color: #0077DA; /* Modern browsers support this property for custom checkbox and radio button color */
}

/* Separator between base layers and overlays */
.leaflet-control-layers-separator {
  height: 1px;
  background: #ddd;
  margin: 10px 0;
}

/* Styling the layer names */
.leaflet-control-layers label span {
  color: #333;
  font-weight: normal;
}
.leaflet-control-layers-list {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  border-radius: 8px;
  padding-right: 10px; /* Optional: adds some padding to avoid scrollbar overlapping the content */
  background: #e6f1fb;
}

/* Optional: customize the scrollbar appearance */
.leaflet-control-layers-list::-webkit-scrollbar {
  width: 5px;
}

.leaflet-control-layers-list::-webkit-scrollbar-thumb {
 background-color: gray;
  border-radius: 4px;
}

.leaflet-control-layers-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5); /* Customize the track color */
}
/* Ensure no border or outline on focus */
#search-button:focus {
    outline: none; /* Removes the focus outline */
}

/* Styling the scrollbar for the table */
.dataTables_scrollBody::-webkit-scrollbar {
  width: 8px; /* Adjust the width for vertical scrollbar */
  height: 8px; /* Adjust the height for horizontal scrollbar */
}

/* Styling the track of the scrollbar */
.dataTables_scrollBody::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded corners for the track */
}

/* Styling the thumb (the draggable part) of the scrollbar */
.dataTables_scrollBody::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #f1f1f1; /* Space between thumb and track */
}

/* Adding hover effect for the thumb */
.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}


.hidden {
  display: none; /* Class to hide the element */
}

.toggle-legend {
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: radial-gradient(400.2% 139.23% at 0% 3.13%, rgba(0, 119, 218, 0.80) 0%, rgba(0, 84, 155, 0.80) 100%);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
  height: 34px;
  width: 34px;
  cursor: pointer;
  display: inline-block;
  z-index: 1000;
  position: absolute;
  bottom: 98px;
  right: 15px;
}

.no-border {
  border: none !important;
}

.toggle-icon {
  width: 24px; /* Adjust icon size */
  height: 24px;
  margin-left: -5px; /* Centering adjustments */
  margin-top: -7px; /* Centering adjustments */
 
}


.summary-close{
  position: absolute;
  top: -1px; /* Adjust positioning as needed */
  right: 8px; /* Adjust positioning as needed */
  font-size: 24px;
  cursor: pointer;
  color: #262626; /* Adjust color as needed */
  transition: color 0.3s;
 }
.summary-of-commencement{
  font-size: 16px;
} 

.leaflet-popup-pane, .leaflet-control {
  cursor: pointer;
}

.leaflet-popup-content {
  /* width: 181px; */
}

.popup-table {
  width: 100%;
  border-collapse: collapse;
  position: absolute;
  z-index: 9999 !important;
}

.popup-table td {
  border: 1px solid #dee2e6;
  padding: 8px;
}
